.adminWrapper{
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminSection{
    @include center-container;
    background-image: url(/public/images/bgAdmin.png);
    background-size: cover;
    background-position: center;
    // height: 769px;
    overflow: hidden;
}

.adminSection .wrapper{
    padding: 159px 100px;
    display: flex;
    align-items: center;
    background-color: rgba($color: #212121, $alpha: 0.2);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.regmodal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 100px;
    width: 100%; 
    height: calc(100% - 100px);
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.regmodal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px; 
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.regmodal-content h2 {
    font-family: "Inter";
    font-size: 27px;
    margin-bottom: 32px;
}

.regmodal-content label {
    display: block;
    text-align: left;
    font-family: "Inter";
    font-size: 15px;
    margin: 10px 0 5px;
}

.regmodal-content input[type="email"], input[type="password"], input[type="text"]{
    width: calc(100% - 58px);
    height: 20px;
    padding: 10px;
    padding-left: 48px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.regmodal-content button[type="submit"] {
    background: linear-gradient(to right, #ED213A, #93291E);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 402px;
}

.regmodal-content span{
    font-family: "Inter";
    font-size: 15px;
    position: absolute;
    margin-top: -40px;
    margin-left: 349px;
}

.lockicon{
    position: absolute;
    margin-top: -43px;
    margin-left: 15px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 100px;
    width: 100%; 
    height: calc(100% - 100px);
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px; 
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.modal-content h2 {
    font-family: "Inter";
    font-size: 27px;
    margin-bottom: 32px;
}

.modal-content label {
    display: block;
    text-align: left;
    font-family: "Inter";
    font-size: 15px;
    margin: 10px 0 5px;
}

.modal-content input[type="email"], input[type="password"] {
    width: calc(100% - 58px);
    height: 20px;
    padding: 10px;
    padding-left: 48px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button[type="submit"] {
    background: linear-gradient(to right, #ED213A, #93291E);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 402px;
}

.forgot-password {
    font-family: "Inter";
    display: block;
    text-align: right;
    color: #666;
    text-decoration: none;
    font-size: 12px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.emailsms{
    position: absolute;
    margin-top: -43px;
    margin-left: -186px;
}

.eyeicon{
    position: absolute;
    margin-top: -43px;
    margin-left: 37%;
}

.admin-header{
    background-color: blue;
}

.primary__adminSection{
    @include center-container;
    display: flex;
}

.primary__adminSection-menu{
    background-color: #A73737;
    width: 370px;
    padding-top: 70px;
    padding-bottom: 289px;
}

.primary__adminSection-menu__wrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.classic-btn{
    width: 370px;
    height: 80px;
    background-color: #FFEDBC;
    border: none;
    color: $black;
    font-family: "Inter";
    font-size: 27px;
}

.classic-btn a{
    text-decoration: none;
    color: $black;
}

.logout-admin{
    margin-top: 25px;
    width: 370px;
    height: 80px;
    background-color: white;
    border: none;
    text-decoration: underline;
    color: #A75454;
    font-family: "Inter";
    font-size: 27px;
    margin-bottom: 41%;
}

.logout-admin a{
    color: #A75454;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 14px;
}

.primary__adminSection-window-header{
    display: flex;
    padding-top: 70px;
}

.primary__adminSection-window-header h2{
    font-family: 'Roboto';
    color: $black;
    font-size: 27px;
    padding-left: 20px;
}

select{
    margin-left: 50px;
    height: 35px;
}

.primary__adminSection-window-header button{
    border: none;
    background: none;
}

#update{
    margin-left: 30px;
    margin-right: 10px;
}

.primary__adminSection-window {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}

// Стили для таблицы
#table-container {
    max-width: 990px;
    overflow-x: auto;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

thead {
    background-color: #333;
    color: #fff;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

tbody td { 
    padding: 10px;
    border: 1px solid #ddd;
    max-width: 200px; /* Максимальная ширина для столбцов */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

tbody td:hover::after {
    content: attr(data-fulltext);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: normal;
    z-index: 1;
    max-width: 400px;
}

tbody tr.selected {
    background-color: #ffd700; /* Цвет выделенной строки */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#saveChanges{
    background: linear-gradient(to right, #7FB0C7, #1C455E);
    border: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
}

#view-table-container{
    max-width: 990px;
    overflow-x: auto;
}

#addModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: overlay;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

#addModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#addModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#addModal .close:hover,
#addModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#addRecord {
    background: linear-gradient(to right, #7FB0C7, #1C455E);
    border: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
}

//График
#del{
    margin-right: 10px;
}