#first-category{
    background-image: url("/public/images/aGuitarBG.png");
}

#second-category{
    background-image: url("/public/images/eGuitarBG.png");
}

#third-category{
    background-image: url("/public/images/bGuitarBG.png");
}

#fourth-category{
    background-image: url("/public/images/amplifier.png");
}

#fifth-category{
    background-image: url("/public/images/sintesator.png");
}

#six-category{
    background-image: url("/public/images/drums.png");
}

#seven-category{
    background-image: url("/public/images/mic.png");
}

#eight-category{
    background-image: url("/public/images/acsesuar.png");
}